{% extends "account/dashboard_admin.html" %}
{% block page %}

<h1 class="mb-3 text-center">批准帖子</h1>
<section class="mb-3 container-fluid">
    <div class="justify-content-center">
        <p class="text-justify text-center">已批准的帖子将发布到博客，此帖子的发布日期为
            <b>{{post_to_approve.date_to_post.strftime('%Y-%m-%d')}}</b>，将发布在
            <b>{{post_to_approve.theme_group.theme}}</b> 主题下
        </p>
    </div>
</section>

<section class="container-fluid mt-4 mb-3">
    <div class="row justify-content-center">
        <div class="row no-gutters ALL-box-preview-shadow" style="width: 57rem;">
            <div class="col-md-6 card-img ALL-picture ">
                <img src="{{ url_for('static', filename='Pictures_Posts/'+post_to_approve.picture_h) }}"
                    class="card-img" alt="博客帖子图片">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">{{post_to_approve.title}}</h5>
                    <p class="card-text text-justify">{{post_to_approve.intro}}</p>
                    <a role="button" href="{{url_for('dashboard.preview_post', id=post_to_approve.id)}}"
                        class="btn ALL-green-btn mb-2">预览</a>
                    <p class="card-text"><small class="text-muted"> 作者：{{ post_to_approve.author.name }} - {{
                            post_to_approve.date_to_post.strftime('%Y-%m-%d') }}</small>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}